@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
    margin:auto;
}
#bg {
    height: 100vh;
    background-image: url(images/ven-b&w.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: white;
    /* opacity: .5; */
    position: fixed;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img {
    width: 55px;
    height: auto;
    border-radius: 30%;
    margin-left: 1px;
    margin-top: 1px;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    margin-top: 13px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}
nav li a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: table;
    width: 300px;
    padding: 10px;
}
.bx {
    position: relative;
    width: 70px;
    height: 40px;
    top: 10px;
    font-size: 25px;
    text-align: center;
}
nav:hover {
width: 180px;
transition: all 0.5s ease;    
}

.header-text {
    margin-top: 20%;
    font-size: 20px;
    width: 100%;
    display: inline-block;
}

#home {
    text-align: center;
}

.header-text h2 {
    font-size: 60px;
}
.name {
    color: #5c2221;
}

/* --------------About-------------- */
#about {
    padding: 80px 0;
    color: #5c2221;
}
.row-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 450px;
    height: 800px;
    border-radius: 20px;
}
.about-col-2 {
    flex-basis: 65%;
}
.subtitle {
    font-size: 60px;
    font-weight: bold;
    color: white;
}
h3 {
    font-size: 24px;
    color: #f8e7bc;
    font-weight: bold;
}
.about-col-2 > p {
    color: white;
    font-size: 20;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    color: white;
}
.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    caret-color: transparent;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #5c2221;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after {
    width: 100%;
}
.tab-contents ul li {
    list-style: none;
    margin: 8px 0;
    color: #5c2221;
    font-size: 16px;
}
.tab-contents ul li span {
    color: #f8e7bc;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* -----Gallery----- */
.gallery-header h2 span {
    margin-left: 500px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-bottom: 1px;
    caret-color: transparent;
    
}
.row {
    display: flex;
    justify-content: center;
}
.column {
    padding-left: 10px;
}
.gallery {
    padding: 3rem 12rem;
}
.fit-image > div > img {
    width: 300px;
    height: auto;
}
.img-grid img {
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.img-grid img:hover {
    box-shadow: 0 10px 40px 0 rgba(255, 255, 255, 5);
    transition: 0.5s ease;
}

/* -----Contact----- */
.contact-header {
    margin-top: 100px;
    margin-left: 500px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-bottom: 1px;
    caret-color: transparent;
}

.contact-section {
    display: inline-block;
    margin-left: 495px;
    margin-top: 10px;
    caret-color: transparent;
}
.contact-box {
    margin-left: 470px;
    width: 500px;
}
form {
    margin: 35px;
}
.contact-message {
    margin-left: 507px;
    margin-top: 20px;
    margin-bottom: -40px;
    color: gray;
}
.input-field {
    width: 400px;
    height: 40px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    font-size: 14px;
}
.textarea-field {
    height:150px;
    padding-top: 10px;
    font-size: 15px;
}
.btn {
    border-radius: 20px;
    color: black;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    font-size: 13px;
    border: none;
    cursor:pointer;
}

/* -----Footer----- */
.icons {
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.icons p {
    font-size: 15px;
    margin-bottom: 12px;
}
.social-links {
    display: flex;
}
.social-links a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.social-links a .fa-brands {
    font-size: 25px;
    line-height: 80px;
    position: relative;
    z-index: 10;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.5);
}

.facebook:hover {
    color: blue;
}

.instagram:hover {
    color: #e11d74;
}

.twitter:hover {
    color: #00adb5;
}

.github:hover {
    color: white
}

.linkedin:hover {
    color: #04009a;
}