*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    margin:auto;
}

#bg{
    height: 100vh;
    background-image: url(images/ven-b&w.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1b2;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.logo{
    width: 70px;
    height: 70px;
}

nav ul li{
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 20px;
    width: 100%;
    display: inline-block;
}

#home{
    text-align: center;
}

.header-text h2{
    font-size: 60px;
}
.name{
    color: #5c2221;
}
/* --------------About-------------- */
#about{
    padding: 80px 0;
    color: #5c2221;
}
.row-about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 450px;
    height: 800px;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 65%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: white;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5c2221;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: #5c2221;
}
.tab-contents ul li span{
    color: darkgrey;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -----Gallery----- */
.row{
    display: flex;
    justify-content: center;
}
.column{
    padding-left: 15px;
}
.gallery{
    padding: 3rem 12rem;
}
.fit-image > div > img {
    width: 300px;
    height: auto;
}
.img-grid img{
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.img-grid img:hover{
    box-shadow: 0 10px 40px 0 rgba(255, 255, 255, 5);
    transition: 0.5s ease;
}